<% if user_role(current_user) %>
  <h1>Thank you for your good heart!</h1>
  <%= render partial: 'donors/index', locals: {donors: @donors} %>
  <!-- render a partil for donor -->
<% else %>
  <h1>I'm a health provider</h1>
  <!-- render a partil for health_provider -->
<% end %>
