<% if user_role(current_user) %>
  <h1><%= current_user.name %></h1>
<% else %>
  <h1><%= current_user.name %></h1>
<% end %>

  <!-- <%  if current_user.role == 'donor' %>
    <h1>Donor</h1>
  <% else %>
  <h1>Health Provider</h1>
  <%end%> -->
