
<div class="col-md-5 left-side">

  <img src="./images/pic2.png" alt="" width="190">
  <h1><span class='mill'>Join GoodHeart-</span>
    According to the American Cancer Society,<span class='mill'>more than 1.69 million</span> people are expected to be diagnosed with cancer in 2017. Many of them will need blood, sometimes daily, during their chemotherapy treatment.

    Thanks to people like you, this is possible</h1>
  </div>

  <div class="col-sm-7 right-side">

    <div class="logo1">
      <img src="./images/ghlogo.png" alt="" width="100">

    </div>
    <h1>Become A Donor </h1>
    <p>“If You're A Blood Donor, You're A Hero To Someone, Somewhere, Who Received Your Gracious Gift Of Life.”</p>
    <%= render 'form' %>

  </div>
