// Place all the styles related to the donor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {
  text-align: center;
}

.btn-danger {
  padding-left: 150px;
  padding-right: 150px;
  background:#D64938;
}

.left-side img {
  border: dashed;
  border-color: white;
  // border-radius: 100px;
  // border-width: 5px;
}

span.mill {
  font-weight: bold;
  font-size: 25px;
}

.left-side {
  background-color: #D64938;
  min-height: 1000px;
  display:flex;
  align-items: center;
  flex-direction: column;
  padding-top: 350px;
}

.left-side h1 {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 30px;
  color: white;
}

.logo1 {
  text-align: center;
  padding-top: 30px;

}

.register-donor {
  font-size: 15px;
  font-weight: bold;

}

.right-side h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;

}

.right-side p {
  color: gray;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 20px;
}
